
.s1{
    background: url('Hommdorik.PNG');
    background-size: cover;
    background-position: center;
}
.s2{
    background: url('Aboutmedorik.PNG');
    background-size: cover;
    background-position: center;
}
.s3{
    background: url('My\ Services.PNG');
    background-size: cover;
    background-position: center;
}
.s4{
    background: url('contactss.PNG');
    background-size: cover;
    background-position: center;
}