
.s1{
    background: url('Hommdorik.PNG');
    background-size: cover;
    background-position: center;
}
.s2{
    background: url('Aboutmedorik.PNG');
    background-size: cover;
    background-position: center;
}
.s3{
    background: url('My\ Services.PNG');
    background-size: cover;
    background-position: center;
}
.s4{
    background: url('contactss.PNG');
    background-size: cover;
    background-position: center;
}
@media (max-width:500px) {
    .s1{
        background-size: 27rem;
        background-repeat: no-repeat;
        overflow: hidden;
}
    .s2{
        background-size: 29rem;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .s3{
        background-size: 26rem;
        background-repeat: no-repeat;
    }
    .s4{
        background-size: 22.5rem;
        background-repeat: no-repeat;

    }
}
